

.custom-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 200px;
    margin-bottom: auto;
}

.custom-phone-image {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-phone-image img {
    max-width: 100%;
    height: auto;
}

.custom-content {
    padding: 20px;
}

.custom-content h2 {
    font-size: 24px;
    color: #333;
    margin-top: 0;
    align-content: center;
    text-align: center;
}

.custom-content p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.custom-download-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #00796b;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-download-button:hover {
    background-color: #c21616;
    text-decoration: none;
    color: black;
    
}

/* Media queries para hacer el diseño responsive */



@media screen and (max-width: 750px) {
    .custom-container {
        max-width: 100%;
        margin-left: 1px;
    }

    .custom-content {
        text-align: center;
    }

    .custom-download-button {
        max-width: none;
    }
}
